/* this is for index.html */

body {
    margin: 0 auto;
    max-width: 900px;
    
}

* {
  box-sizing: border-box;
}

.top {
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  background: #999;
  width: 900px;
  height: 200px;
  margin: 10px;
}

.second-left {
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  background: #999;
  width: 580px;
  height: 400px;
  float: left;
  margin: 0px 10px 10px 10px;
}

.second-right {
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  background: #999;
  width: 280px;
  height: 400px;
  float: left;
  margin: 0px 10px 10px 10px;
}

.bottom {
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  background: #999;
  width: 900px;
  height: 200px;
  clear: left;
  margin: 10px;
}

/* this is for three-column.html */

* {
  box-sizing: border-box;
}

.ThreeC-top {
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  background: #999;
  width: 900px;
  height: 200px;
  margin: 10px;
}

.ThreeC-second-left {
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  background: #999;
  width: 220px;
  height: 400px;
  margin: 0px 10px 10px 10px;
  float: left;

}

.ThreeC-second-middle {
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  background: #999;
  width: 400px;
  height: 400px;
  margin: 0px 10px 10px 10px;
  float: left;
}

.ThreeC-second-right {
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  background: #999;
  width: 220px;
  height: 400px;
  margin: 0px 10px 10px 10px;
  float: left;
}

.ThreeC-bottom {
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  background: #999;
  width: 900px;
  height: 200px;
  margin: 10px;
  clear: left;
}

/* this is for simple-marketing.html */

* {
  box-sizing: border-box;
}

.SM-top {
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  background: #999;
  width: 900px;
  height: 200px;
  margin: 10px;
}

.SM-second-left {
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  background: #999;
  width: 430px;
  height: 400px;
  margin: 0px 10px 10px 10px;
  float: left;
}

.SM-second-right {
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  background: #999;
  width: 430px;
  height: 400px;
  margin: 0px 10px 10px 10px;
  float: left;
}

.SM-third-left {
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  background: #999;
  width: 280px;
  height: 400px;
  margin: 0px 10px 10px 10px;
  clear: left;
  float: left;
}

.SM-third-middle {
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  background: #999;
  width: 280px;
  height: 400px;
  margin: 0px 10px 10px 10px;
  float: left;
}

.SM-third-right {
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  background: #999;
  width: 280px;
  height: 400px;
  margin: 0px 10px 10px 10px;
  float: left;
}

.SM-bottom {
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  background: #999;
  width: 890px;
  height: 200px;
  margin: 10px;
  clear: left;
}

/* this is for marketing-with-nav.html */

* { box-sizing: border-box }

.MNheader { 
  width:200px; 
  height:100px;
  background: #999; 
  border:solid 1px #000; 
  float: left; 
  margin: 10px 10px 10px 10px;
}

.MNnav { 
  width:150px; 
  height:50px;
  background: #999; 
  border:solid 1px #000; 
  float: right; 
  margin: 10px 5px 10px 5px;
}

.MNmain { 
  width:880px; 
  height:300px;
  background: #999; 
  border:solid 1px #000; 
  clear: both; 
  margin: 10px;
}

.MNmain2 { 
  width:280px; 
  height:150px;
  background: #999; 
  border:solid 1px #000; 
  float: left; 
  margin: 0px 10px 10px 10px;
}

.MNfooter { 
  width:880px; 
  height:100px;
  background: #999; 
  border:solid 1px #000; 
  clear: both; 
  margin: 10px;
}

/* this is for magazine.html */


* { box-sizing: border-box }

.MAGheader { 
  width:200px; 
  height:100px;
  background: #999;
  border:solid 1px #000; 
  float: left; 
  margin: 10px 10px 10px 10px; 
}

.MAGnav { 
  width:120px; 
  height:50px;
  background: #999; 
  border:solid 1px #000; 
  float: right; 
  margin: 10px 5px 10px 5px; 
}

.MAGcolumn { 
  width:160px; 
  height:600px;
  background: #999;
  border:solid 1px #000;
  float: left;
  clear: both;   
  margin: 10px;
}

.MAGmain2 { 
  width:700px; 
  height:160px;
  background: #999;
  border:solid 1px #000;
  float: right;   
  margin: 10px;
}

.MAGmain3L { 
  width:520px; 
  height:238px;
  background: #999;
  border:solid 1px #000;
  float: left;   
  margin: 10px;
}

.MAGmain3R { 
  width:160px; 
  height:238px;
  background: #999;
  border:solid 1px #000;
  float: right;   
  margin: 10px;
}

.MAGmain4 { 
  width:160px; 
  height:160px;
  background: #999;
  border:solid 1px #000;
  float: left;   
  margin: 10px;
}

.MAGfooter {
  width:880px; 
  height:160px;
  background: #999;
  border:solid 1px #000;
  float: left;   
  margin: 10px;
}

.clearfix { display: inline-block; }

.